<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connName" 
         connectionString ="Data Source=.;Initial Catalog=lxdb_xiguanqu; User ID=sa;Password=sa" 
         providerName =""/>
  </connectionStrings>
  <appSettings>

    <add key="AppName" value ="appname"/>
    <add key="Version" value="1.0"/>
  </appSettings>
</configuration>